<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ex01.mapper.BlogMapper">
    <resultMap id="BaseResultMap" type="ex01.entity.Blog">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="selectBlog" resultType="ex01.entity.Blog">
        select * from Blog where id = #{id}
        </select>

    <select id="listByKeyword" resultMap="BaseResultMap">
        select * from Blog where `name` like CONCAT('%', #{keyword,jdbcType=VARCHAR}, '%')
    </select>

</mapper>